<nav class="navbar navbar-dark bg-dark">

  <mat-button-toggle-group class="margenBotonesMenu">
    <mat-button-toggle matTooltip="Página inicio" [routerLink]="['']" routerLinkActive="router-link-active" class="margenHomeBoton"><mat-icon>home</mat-icon></mat-button-toggle>
    <mat-button-toggle matTooltip="Módulo Home" [routerLink]="['/home/fecha']" routerLinkActive="router-link-active" >Home</mat-button-toggle>
    <mat-button-toggle matTooltip="Módulo de Usuarios" [routerLink]="['/usuarios/listado']" routerLinkActive="router-link-active" class="margenBotonDerecho">Usuarios</mat-button-toggle>
  </mat-button-toggle-group>
</nav>


<router-outlet></router-outlet>